---

---

<div class="odds-cont">
  <h3
    id="error"
    style="display: none; width: 98%; max-width: 740px; color: #a52a2a; margin: 16px auto; text-align: center;"
  >
    *Mikeka ya Leo Bado Haijaandaliwa. Rudi baada ya mda kidogo
  </h3>
  <ul id="mikeka-cont"></ul>
  <slot />
</div>

<div
  class="refresh"
  id="refrshp"
  style="text-align: center; margin: 16px auto;"
>
  <button
    onclick="window.location.reload()"
    id="refreshbtn"
    style="background-color: #ff6b01; color: #ffffff; padding: 12px 16px; border-radius: 6px; font-weight: bold;"
    >Refresh Today's Odds</button
  >
</div>
<hr />

<style>
  ul#mikeka-cont {
    width: 100%;
    max-width: 740px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
</style>

<script>
  const mikekaCont = document.getElementById("mikeka-cont");
  const errorMsg = document.getElementById("error");
  try {
    const res = await fetch(
      "https://mikeka-ya-uhakika-production.up.railway.app/odds-blog"
    );
    const data = await res.json();
    if (data.length == 0) {
      errorMsg.style.display = "block";
    } else {
      for (let mk of data) {
        let el = document.createElement("li");
        el.setAttribute(
          "style",
          "width: 98%; margin: 20px auto; background-color: #f3f4f6; border-radius: 5px; padding: 6px; display: flex; flex-direction: column; border-bottom: 4px #808080 solid; border: 1px solid #ff6b01;"
        );
        el.innerHTML = `<span class="time" style="display: block; border-bottom: #d3d3d3 solid 1px; color: gray; font-size: small; padding: 8px 4px;">${mk.time} ${mk.siku} - ${mk.league}</span><span class="match" style="display: block; text-align: center; color: black; font-size: large; font-weight: bold; margin-top: 16px;">${mk.match}</span><span class="tip" onclick="window.open('http://bet-link.top/betway/register')" style="display: flex; justify-content: center; align-items: center; color: white; font-size: large; font-weight: bold; background-color: green; width: 120px; min-width: auto; padding: 8px 16px; margin: 16px auto 24px auto; border-radius: 8px;">${mk.tip}</span><span onclick="window.open('http://bet-link.top/betway/register')" class="link" style="display: block; border-top: #d3d3d3 solid 1px; color: rgb(0, 108, 172); font-size: 14px; font-weight: bold; cursor: pointer; text-align: center; padding: 8px 4px;">Weka Bet Hapa (200% Bonus)</span>`;
        mikekaCont?.appendChild(el);
      }
      console.log(data);
    }
  } catch (error) {
    console.log(error);
    errorMsg.style.display = "block";
  }
</script>
